@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Detalhar a privacidade do site.</p>

<asp:GridView ID="gdvDados" runat="server" AutoGenerateColumns="true" Width="100%" />
